/*
Citations:
https://neumorphism.io/#e0e0e0
*/

map-container {
  display: table;

}

map {
  flex: 1;
  height: 100vh;
}

sidebar {
  flex: 0.3;
  background: green;
  padding: 10px;
  overflow: auto;
  display: block;
  color: red;


}